body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
}

form {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.todo-item {
  font-size: 16px;
  border: none;
}

h1, h2 {
  text-decoration: underline;
}
